html {
    font-size: 62.5%;
}
body {
    background: royalblue;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}