@mixin background ($url) {
    background: $url;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h1 {
    font-size: 5rem;
    text-align:center;
    text-transform: uppercase;
    color: yellow;
    font-weight: 400;
    margin: 0
}

h2 {
    margin: 10px;
}

p.character {
    position: relative;
    top: 125px;
    color: #fff;
    font-size: 2.5rem;
    margin: 20px;
}

.logo {
    max-width: 400px;
}

h2 {
    font-size: 3rem; 
}

.row {
    display: flex;
}

.soundboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    max-width: 80%;
}
.sound {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid black;
    margin: 25px;
    transition: 300ms ease-in;
    box-shadow: 10px -10px rgba(0,0,0,0.6);
    
    &:hover {
        box-shadow: 25px 25px 10px yellow;
    }
}

.sound1 {
    @include background(url(../assets/jake.jpg));
}

.sound2 {
    @include background(url(../assets/terry.jpg));
}

.sound3 {
    @include background(url(../assets/holdt.jpg));
}

.sound4 {
    @include background(url(../assets/rosa.jpg));
}

.sound5{
    @include background(url(../assets/boyle.jpg));
}

.sound6 {
    @include background(url(../assets/gina.jpg));
}

.sound7 {
    @include background(url(../assets/hitchcock.jpg))
}

.sound8 {
    @include background(url(../assets/scully.jpg))
}

.sound9 {
    @include background(url(../assets/amy.jpg))
}

