@mixin background ($url) {
    background: $url;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.logo {
    max-width: 400px;
}

.row {
    display: flex;
}

.soundboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    max-width: 80%;
    & .sound {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        cursor: pointer;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 5px solid black;
        margin: 20px;
        transition: 300ms ease-in;
        box-shadow: 10px -10px rgba(0,0,0,0.8);
        &:hover {
            box-shadow: none; //simulates click on button
        }
    }
}

.sound1 {
    @include background(url(../assets/jake.jpg));
}

.sound2 {
    @include background(url(../assets/terry.jpg));
}

.sound3 {
    @include background(url(../assets/holdt.jpg));
}

.sound4 {
    @include background(url(../assets/rosa.jpg));
}

.sound5{
    @include background(url(../assets/boyle.jpg));
}

.sound6 {
    @include background(url(../assets/gina.jpg));
}

.sound7 {
    @include background(url(../assets/hitchcock.jpg))
}

.sound8 {
    @include background(url(../assets/scully.jpg))
}

.sound9 {
    @include background(url(../assets/amy.jpg))
}

// MEDIA QUERIES
@media screen and (min-width: 805px) and (max-width: 1690px) {

}

@media screen and (max-width: 560px) {
    .soundboard-container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 465px) {
    .logo {
        max-width:90%;
    }
}

