h1 {
    font-size: 5rem;
    text-align:center;
    text-transform: uppercase;
    color: yellow;
    font-weight: 400;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3rem;
    margin: 10px;
}

a {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 300ms ease-in-out;
    font-family: 'Impact';
    &:hover {
        font-size:2rem;
        color: yellow;
    }
}

p.character {
    position: absolute;
    top: 125px;
    color: #fff;
    font-size: 2.5rem;
    margin: 20px;
}

footer p {
    font-size: 1.2rem;
    font-family: 'Helvetica 86';
    margin: 50px 0;
    font-weight: 700;
    margin: 5px 0;
    text-align: right;
    padding-right: 50px;
}

// MEDIA QUERIES

@media screen and (max-width: 960px) {
    footer {
        padding-top: 35px;
    }
    p.footer-text {
        text-align: center;
        padding-right: 0;
    }
}